<%= stylesheet_link_tag "show" %>
<section class = 'main'>
  <section class = 'main-left'>
    <%= image_tag @github_profile.image, :class => "profile-image" %>
    <p class = 'name'><%= @github_profile.name %></p>
    <p class = 'screen_name'><%= @github_profile.screen_name %></p>
    <p class = 'bio'><%= @github_profile.bio %></p>
    <div class="hr-line"></div>
    <p class = 'location'><%= @github_profile.location %></p>
    <p><%= link_to 'LinkedIn Profile', @github_profile.url %></p>
  </section>
  <section class = 'main-right'>
    <section class = 'top'>
      <p class = 'repos'>Repositories: <%= @github_profile.number_repos %></p>
      <p class = 'followers'>Followers: <%= @github_profile.followers %></p>
      <p class = 'following'>Following: <%= @github_profile.following %></p>
    </section>
    <section class = 'middle'>
      <p><% @github_repos.each do |repo| %></p>
        <li><%= link_to repo[:name], repo[:url] %></li>
        <li><%= repo[:language] %></li>
      <% end %>
    </section>
    <section class = 'bottom'>
      <p><% @github_gists.each do |gist| %></p>
        <li><%= link_to gist[:description], gist[:url] %></li>
        <li><%= gist[:created_at] %></li>
      <% end %>
    </section>
  </section>
</section>
